{% extends 'base.html.twig' %}
{% block body %}
    <div class="row"  >
        <div  class="col-lg-6" class="col-md-6" class="col-xs-12" class="col-sm-12" >
            <div id="suggestion">
                <h2>Discover</h2>
                {#
                <h3>Search</h3>
                    <div id="research-menu">
                    <!-- Le label -->
                    <label for="toggle-block">Catégories</label>
                
                    <!-- La checkbox que je choisis cochée au démarrage -->
                    <input id="toggle-block" name="toggle-block" type="checkbox" checked />
                
                    <!-- Le bloc à afficher -->
                    <div id="category-block">
                        <ul>
                            {% for category in categories %}
                                <li class="category-item">
                                    {{ "id: " + category.id + " name: " + category.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                #}
                <ul>
                    {% for movie in movies %}
                        <div class="card" >
                            <div class="card-body">
                                <img src="https://image.tmdb.org/t/p/w200/{{ movie.poster_path }}" >
                                <h5 class="card-title"><p>{{ movie.title }}</p></h5>
                                <a class="btn btn-primary" href="{{ path('movie_show',{ id:movie.id, name:movie.title }) }}">Détails</a>
                            </div>
                        </div>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-lg-6" class="col-md-6" class="col-xs-12" class="col-sm-12" >
            <h2> fil d'actualité </h2>
            {% if listCommentFriend|length == 0 %}
                <p>Ajouter des Amis pour voirs leurs commentaires récents.</p>
            {% endif %}
            {%for comment in listCommentFriend %}
                    <div>{{comment.createdAt|date('d/m/y - H:i')}} <a href="{{ path('user_show',{id:comment.user.id} )}}" > {{comment.user.email}}</a>=><a href="{{ path('movie_show',{id:comment.movieId,name:'movie'}) }}">movie</a>: {{comment.text}} </div>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function(){

        });
    </script>
{% endblock %}

{% block index_stylesheet %}
    <style>
        #research-menu {
            background-color: #e95325;
            color: #fff;
            text-align:center;
            width: 250px;
        }
        #research-menu label {
            cursor:pointer;
        }
        /* le bloc n'est pas visible lorsque la checkbox n'est pas cochée */
        #category-block {
            max-height: 0px;
            opacity: 0;
            line-height:100px;
            border: 1px dotted #fff;
            margin:2px;
            transition: all 1s;
        }
        
        /* le bloc est visible lorsque la checkbox est cochée */
        #toggle-block:checked + #category-block{
            max-height: 300px;
            opacity: 1;
            transition: all 1s;
        }
    </style>
{% endblock %}