{% extends 'base.html.twig' %}
{% block body %}
    <div class="row" style="overflow-y:scroll; height:50vh;width:100%;" >
        <div  class="col-lg-6" class="col-md-6" class="col-xs-12" class="col-sm-12" >
            <div class="row"    >
                <div  class="col-lg-6" class="col-md-6" class="col-xs-12" class="col-sm-12" >
                    <img src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" >
                </div>
                <div  class="col-lg-6" class="col-md-6" class="col-xs-12" class="col-sm-12" >
                    <h2>{{movie.title}}</h2>
                    {% if trailer.key != "notrailer" %}
                        <a href="https://www.youtube.com/watch?v={{trailer.key}}"> <button type="button" class="btn btn-primary"> bande annonce </button> <span class="glyphicon glyphicon-step-forward"></span>   </a>
                    {% endif %}   
                    <p>{{movie.overview}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6" class="col-md-6" class="col-xs-12" class="col-sm-12" >
            <h2>Note</h2>
            <span style="color:white;">{{rating}}/10</span>
            {% if is_granted('ROLE_USER') %}
                <form action="{{ path('rating_rate',{id:movie.id})}}" method="post" id="ratingForm">
                    <div class="rating">
                        <span><input type="radio" name="rating" id="str10" value="10"><label for="str10"></label></span>
                        <span><input type="radio" name="rating" id="str9" value="9"><label for="str9"></label></span>
                        <span><input type="radio" name="rating" id="str8" value="8"><label for="str8"></label></span>
                        <span><input type="radio" name="rating" id="str7" value="7"><label for="str7"></label></span>
                        <span><input type="radio" name="rating" id="str6" value="6"><label for="str6"></label></span>
                        <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                        <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                        <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                        <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                        <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                    </div>
                </form>
                {{ form(formComment) }}
            {% endif %}
            {%for comment in comments %}
                <div class="comment">
                    <div class="comment-owner">
                        <a class="profile-link" href="{{ path('user_show',{id:comment.user.id,}) }}">{{comment.user.email}}</a>
                    </div>
                    <div>{{comment.text}}</div>
                    {% if is_granted('ROLE_USER') %}
                        <button class="btn btn-secondary" type="button" onclick="replyTo({{comment.id}},'{{comment.user.email}}')">Reply</button>
                    {% endif %}
                    {%for replyComment in comment.getComments %}
                    <div class="comment-reply">
                        <div class="comment-owner">
                            <a class="profile-link" href="{{ path('user_show',{id:replyComment.user.id,}) }}">{{replyComment.user.email}}</a>
                        </div>
                        <div>{{replyComment.text}}</div>
                    </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row" style="overflow-y:scroll; height:35vh;width:100%;" >
        <div  class="col-lg-12" class="col-md-12" class="col-xs-12" class="col-sm-12" >
            <h2>Films Similaires</h2>
            {%for movie in listMovieCategorie %}
                <div class="card" >
                    <div class="card-body">
                        <img style="width:150px; height;80px;" src="https://image.tmdb.org/t/p/w200/{{movie.poster_path}}" >
                        <h5 class="card-title"><p>{{movie.title}}</p></h5>
                        <a class="btn btn-primary" href="{{ path('movie_show',{id:movie.id,name:movie.title}) }}">Detail</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
         
    <style>
        .rating {
            float:left;
        }
        .rating span { float:right; position:relative; }
        .rating span input {
            position:absolute;
            top:0px;
            left:0px;
            opacity:0;
        }
        .rating span label {
            display:inline-block;
            width:30px;
            height:30px;
            text-align:center;
            color:#FFF;
            background:#ccc;
            font-size:30px;
            margin-right:2px;
            line-height:30px;
            border-radius:50%;
            -webkit-border-radius:50%;
        }
        .rating span:hover ~ span label,
        .rating span:hover label,
        .rating span.checked label,
        .rating span.checked ~ span label {
            background:#F90;
            color:#FFF;
        }
        .comment{
            color:#FFF;
            background-color:#222;
            text-align:left;
            padding-left:5%;
            padding-bottom:10px;;
        }
        .comment-owner{
            font-weight:bolder;
        }
        .comment-reply{
            background-color:#333;
        }
        .profile-link{
            color:#FFF;
        }
    </style>
    <script>
        $(document).ready(function(){
            $(".rating input:radio").attr("checked", false);

            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
            });

            $('input:radio').change(function(){
                $("#ratingForm").submit();
            });
        });
        function replyTo(id,user){
            $("#form_replyToId").val(id);
            $("#form_text").val("@"+user+" ");
            $("#form_text").focus();
        }
    </script>
{% endblock %}