{% extends 'base.html.twig' %}
{% block body %}

    <div id="info" class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <h2> Where IS ? </h2>
           <table>
                <tr>
                    <td> mail </td>
                    <td>Number Rating</td>
                    <td>Number Comments</td>
                    <td> Number Friends </td>
                </tr>
                <tr>
                    <td> {{user.email}} </td>
                    <td> {{ user.ratings|length }} </td>
                    <td> {{ user.comments|length }} </td>
                    <td> {{ user.friends|length }} </td> 
                </tr>
            </table>
        </div>



        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
        
            <form>
                <label for="researchUser">Un Nouvelle amie ?</label>
                <input type="text" id="valueUser" name="researchUser" >
                 <button class="btn btn-secondary" id="researchUser" type="button">Research</button>
            </form>

            <div id="listUsersResearch">

            </div>
        </div>

    </div>



    <div id="info" class="row">
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
            <span>{{user.email}}</span>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') and app.user!=user %}
                {% if isFriend != null %}
                    <a class="btn btn-danger" href="{{ path('friend_remove',{friend_id:isFriend.id})}}">Remove friend</a>
                {% else %}
                    <a class="btn btn-primary" href="{{ path('friend_add',{userid:user.id})}}">Add friend</a>
                {% endif %}
            {% endif %}
            <h2> Rates </h2>
            {%for entry in movies %}
                <div class="row">
                    <div class="col-md-6"><a href="{{ path('movie_show',{id:entry.movie.id,name:entry.movie.title}) }}">Title  : {{entry.movie.title}}</a></div>
                    <div class="col-md-6">Rating : {{entry.rating.value}}</div>
                </div>
            {% endfor %}          
        </div>
        <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">

            <h2>    Comments </h2>


            {%for entry in movieComments %}
                <div class="row">
                    <div style="text-align: right;" class="col-md-6"><a href="{{ path('movie_show',{id:entry.movie.id,name:entry.movie.title}) }}">Title  : {{entry.movie.title}}</a></div>
                    <div style="text-align: right;" class="col-md-6">
                        <p> {{entry.comment.text}} </p>
                        <p> {{entry.comment.getReplyTo}}  </p>
                    </div>
                </div>
            {% endfor %}
        

        </div>
    </div>
    <style>
        #info{
            color:#EEE;
        }
    </style>
     
   
    <script>
        $(document).ready(function(){
            $('#researchUser').on('click', function(){
                $.ajax({
                    url: '{{ path('ajax_action') }}',
                    type: "POST",
                    dataType: "json", data: { "research": $('#valueUser').val()},
                    async: true,
                    success: function (data) {
                        var comp = 0;
                        var htmlListUsers ='';
                        while (comp < data.info.length ) {
                            htmlListUsers += '<a href="/user/show/'+ data.info[comp].id +'"> email : '+ data.info[comp].email +'  </a> <br>' ;
                            comp++;
                        }
                        $('#listUsersResearch').html(htmlListUsers);
                    }
                })
            });
        });
    </script>
{% endblock %}
